@import "./mixins";

.image-link {
    display: block;
    @include sizeImgContainer($size: 80px);
    margin: 0 auto;
    transition: transform 0.25s;
    cursor: pointer;
  
    &:hover {
      transform: scale(1.1);
    }
  }

  .top-panel {
    @media (max-width: $md3) {
      padding: 10px;
      padding-top: 25px;
    }
  }