@import "./variables";

:export {
    circleProgressColor: $circleProgressColor;
    normalWeightColor: $normalWeightColor;
    purposeWeightColor:  $purposeWeigthColor;
    caloriesColor: $caloriesColor;
    normalSliderColor: $normalSliderColor;
    purposeSliderColor: $purposeSliderColor;
}

