@import "./variables";

:export {
    startCircleProgressColor: $startCircleProgressColor;
    endCircleProgressColor: $endCircleProgressColor;
    normalWeightColor: $normalWeightColor;
    purposeWeightColor:  $purposeWeigthColor;
    caloriesColor: $caloriesColor;
    normalSliderColor: $normalSliderColor;
    purposeSliderColor: $purposeSliderColor;
    
}

