@import "./_variables.scss";

@mixin setPlane($maxWidth: 500px) {
    border: 1px solid $mainColor;
    border-radius: 10px;
    background-color: #fff;
    max-width: $maxWidth;
    margin: 0 auto;
}

