@import "./_variables.scss";

@mixin setPlane($maxWidth: none) {
    border: 1px solid transparent;
    background-color: #fff;
    max-width: $maxWidth;
    margin: 0 auto;
}

@mixin sizeImgContainer($size: 300px) {
    width: $size;
    height: $size;
  
    > img {
      width: $size;
      height: $size;
    }
  }
