// $mainColor: #2c3e50;

$mainColor: #000;
// Colors for gradient
$startCircleProgressColor: rgb(37 232 148);
$endCircleProgressColor: rgb(37 232 148);

$normalWeightColor: rgb(128 197 222);
$purposeWeigthColor: rgb(181 239 97);

$normalSliderColor: $normalWeightColor;
$purposeSliderColor: $purposeWeigthColor;

$badDayColor: rgb(238 182 77);
$goodDayColor: green;

$caloriesColor: rgb(72, 169, 238);

$md1: 880px;
$md2: 590px;
$md3: 500px;
