// $mainColor: #2c3e50;

$mainColor: #000;
// Colors for gradient
$startCircleProgressColor: #ffceac;
$endCircleProgressColor: orange;

$normalWeightColor: #ffceac;
$purposeWeigthColor: rgb(161 221 149);

$normalSliderColor: $normalWeightColor;
$purposeSliderColor: $purposeWeigthColor;

$badDayColor: rgb(238 182 77);
$goodDayColor: green;

$caloriesColor: rgb(72, 169, 238);

$md1: 880px;
$md2: 590px;
$md3: 500px;
